@{ 
    Layout = "_Layout";
    ViewData["Title"] = "Index - Lab 4";
}

<h2>LAB 4</h2>
<p style="font-size:18px;">
    <br>Hi, Everyone.<br><br>My name is Gaurav Sharma. I'm taking Computer Engineering Technology - Computing Science program
    at Algonquin College. Currently, I'm in my final year.<br>
    This subject is very interesting, it gives opportunity to learn new programming language which is C# and right now I'm learning MVC and Entity frameworks topic.</p>